$primary:       #091f43;
$info:          #fd2d01;

$body-bg:       rgba(255,215,215,0.3);

/*$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1440px
);*/

$enable-responsive-font-sizes:  true;